.spanBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.span {
    color: #0066cc;
    font-size: 16px;
    font-weight: normal;
}

.input {
    outline: none;
    border-color: #d1d1d1;
}

.pen {
}
