.friendMessage {
    margin-bottom: 30px;
}

.friendImageAndText {
    display: flex;
    align-items: flex-end;
}

.friendImageAndText img {
    width: 48px;
}

.friendText {
    position: relative;
    box-sizing: border-box;
    background-color: #F5F7FB;
    padding: 8px 13px;
    border-radius: 10px 10px 10px 0;
    margin-left: 14px;
    filter: drop-shadow(0px 1px 2px rgba(29, 33, 38, 0.10)) drop-shadow(0px 5px 20px rgba(29, 33, 38, 0.03));
}

.friendText:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    left: -14px;
    bottom: 0;
    border: 7px solid transparent;
    border-right: 7px solid #F5F7FB;
    border-bottom: 7px solid #F5F7FB;
}

.friendName {
    font-size: 16px;
    font-weight: 600;
}

.friendMessageText {
    font-size: 16px;
    font-weight: 400;
}

.friendTime {
    font-size: 10px;
    font-weight: 600;
    margin: 5px 8px;
}